body {
  background-color: rgb(207, 232, 245);
}

nav {
  background-color: rgb(8, 7, 92);
  padding: 10px;
}

li {
  list-style: none;
  display: inline-block;
}

li, a {
  text-decoration: none;
  color: rgb(180, 237, 224);
  margin-right: 20px;
}

nav, ul, li, a {
  text-align: right;   
  font-size: 25px;
}

/* main */
h1 {
  text-align: center;
  color: rgb(8, 32, 97);
}

p {
  width: 45%;
  display: inline-block;
  margin-left: 3%;
  text-align: justify;
  text-justify: inter-word;
}

hr {
  width: 75%;
  border: 2px solid rgb(223, 48, 121);
}

/* section */
.texto_imagen {
  display: inline-block;
}

img {
  float: left;
  width: 400px;
  height: 300px;
  margin: 20px 20px 10px 70px;
}

.parrafo {
  margin-top: 79px;
}

/* footer */
footer {
  background-color: rgb(8, 7, 92);
  padding: 40px;
}

footer, a, .contacto {
  color: rgb(167, 180, 230);
  text-align: center;
}